In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import category_encoders as ce
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv(r"C:\Users\Karthikeyan C\Downloads\car evalution.zip")
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [4]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [5]:
df.columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [6]:
df.describe()

       buying maint doors persons lug_boot safety  class
count    1727  1727  1727    1727     1727   1727   1727
unique      4     4     4       3        3      3      4
top      high  high     3       4      med    med  unacc
freq      432   432   432     576      576    576   1209

In [7]:
Y = df['class']
X = df.drop(['class'], axis=1)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, shuffle=True, random_state=25)

In [13]:
encoder = ce.OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)
encoder

OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot',
                     'safety'],
               mapping=[{'col': 'buying', 'data_type': dtype('O'),
                         'mapping': med      1
high     2
low      3
vhigh    4
NaN     -2
dtype: int64},
                        {'col': 'maint', 'data_type': dtype('O'),
                         'mapping': vhigh    1
high     2
low      3
med      4
NaN     -2
dtype: int64},
                        {'col': 'doors', 'data_type': dtype('O'),
                         'mapping': 5more    1
2        2
3        3
4        4
NaN     -2
dtype: int64},
                        {'col': 'persons', 'data_type': dtype('O'),
                         'mapping': 2       1
4       2
more    3
NaN    -2
dtype: int64},
                        {'col': 'lug_boot', 'data_type': dtype('O'),
                         'mapping': small    1
big      2
med      3
NaN     -2
dtype: int64},
                        {'col': 'safety', 'data_type': dtype('O'),
                         'mapping': low     1
med     2
high    3
NaN    -2
dtype: int64}])

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
clf = RandomForestClassifier()  





#RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                      # max_depth=None, max_features='auto', max_leaf_nodes=None,
                      # min_impurity_decrease=0.0, min_impurity_split=None,
                      # min_samples_leaf=1, min_samples_split=2,
                      # min_weight_fraction_leaf=0.0, n_estimators=10,
                      # n_jobs=None, oob_score=False, random_state=None,
                      # verbose=0, warm_start=False)

In [16]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [17]:
y_pred = clf.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(y_pred, y_test)

0.9566473988439307